.stopwatch {
  height: 100%;
  width: 100%;
  text-align: center;
}

.display {
  font-size: 35pt;
}
.title {
  color: rgb(59, 21, 199);
}

button {
  padding: 0.5em 1em;
  color: rgb(177, 94, 27);
  margin: 0 2em;
  font-size: 20pt;
  border: none;
  border-radius: 25%;
  background-color: rgb(202, 224, 187);
}

button:active {
  background-color: blue;
}
